$title: 'Kurale',
serif;
$basic: 'Open Sans',
sans-serif;

$yellow: #e8c300;
$tabs: #333;
$white: #fff;
$black: #000;
$gray: #e5e5e5;
$white-opacity: rgba(255, 255, 255, 0.5);
$black-opacity: rgba(0, 0, 0, 0.5);
$text-form: rgba(51, 51, 51, 0.5);
$tabs-opacity: rgba(51, 51, 51, 0.2);

$size-title: 18px;
$size-text: 16px;

$wrap: 1440px;
$container: 1230px;
$m-c: 0 auto;

@mixin flex($jc, $ai) {
	display: flex;
	flex-wrap: wrap;
	justify-content: $jc;
	align-items: $ai;
}

@mixin line {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	background: $yellow;
	border-radius: 50px;
	margin: $m-c;
	margin-top: 10px;
	margin-bottom: 35px;
}

@mixin img {
	width: 100%;
	height: auto;
	filter: drop-shadow(0px 0px 50px $black-opacity);
	border-radius: 5px;
}

body {
	background: $white;
	font-family: $basic;
	color: $black;
	font-size: $size-title;
}

.wrapper {
	max-width: $wrap;
	margin: $m-c;
}

.container {
	max-width: $container;
	margin: $m-c;
	padding: 0 15px;
}

.svg {
	width: 100%;
	height: 100%;
}

.circle {
	width: 250px;
	height: 250px;
	border: 20px solid $yellow;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	filter: drop-shadow(0px 0px 100px $black-opacity);
}

section h2 {
	font-family: $title;
	font-weight: 400;
	font-size: 42px;
	line-height: 114%;
	text-transform: uppercase;
	&::after {
		@include line;
	}
}

section p {
			line-height: 175%;
			margin-bottom: 25px;
			font-size: $size-text;
		}

.intro {
	font-weight: 700;
	font-size: $size-title;
}

